/* outer container for right-container */
.right-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
/* css for nav-bar */
.right-container-nav-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight:bold;
}
/* Css for nav-bar-tabs names */
.nav-bar-tabs{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 10px;


}

/* Css for Today tab for howver and active  */
.today{
    margin-right: 10px;
    color:#c5c5c5;
}
.today:hover{
    color:black;
    cursor: pointer;
}
.today-active{
    color: black;
}

/* Css for Today tab for howver and active  */
.week{
    color: #c5c5c5;
}
.week:hover{
    color: black;
    cursor: pointer;
}
.week-active{
    color: black;
}

/* css of onclick underline */

.underline{
    width: 50px;
    height: 1px;
    background-color: black;
    margin-top: 1.2rem;
}
.underline-today{
    transform: translate3d(-200%,0,0);
    transition: 100ms;
}
.underline-week{
    transform: translate3d(-100%,0,0);
    transition: 100ms;
}


/* css for nav-bar-matric */
.nav-bar-matric{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: center;
    align-items: center;

  
}
/* css property for .celsius and .fahrenheit tab along with hower and active */

.celsius{
    border-radius: 500px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    background-color: white;
    font-size: small;
}
.celsius:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

.fahrenheit{
    border-radius: 500px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    background-color: white;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}

.celsius-active{
    color:white;
    background-color: black;
}

.fahrenheit:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

.fahrenheit-active{
    color:white;
    background-color: black;
}

/* Css for profile image */
.profile-image img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

/* css for .right-container-data-box---------------------------- */
.right-container-data-box{
    flex: 12;
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0px;
}
.right-container-week-cards{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.right-container-today-cards{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.card{
    width: 90px;
    height: 105px;
    background-color: rgb(251, 252, 253);
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    font-weight: 500;
}
.card-day{
    margin: 5px;
    margin-top: 5px;
}
.card-temp-img img{
    width: 40px;
    height: 40px;

}
.card-temp-value{
    margin: 5px; 
}

.right-container-todays-highlight{
    flex: 3;
    display: flex;
    flex-direction: column;  
}
.right-container-todays-highlight-title{
    flex: 3;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: bold;
}
.right-container-todays-highlight-cards{
    flex: 10; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.right-container-todays-highlight-card{
    display: flex;
    flex-direction: column;
    background-color:rgb(251, 252, 253);
    border-radius: 10px;
    width: 205px;
    height: 165px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

.right-container-todays-highlight-card-title{
    flex: 1;
    color: rgb(40, 153, 252);
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    align-self: self-start;
    

}
.gauge{
    margin-top: -10px;
    flex: 2;
    width: 70%;
    max-width: 200px;
    font-size: 40px;
    color: rgb(0, 64, 119);
    font-weight: 500;
    margin-bottom: -10px;
}
.gauge__body{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color:rgb(62, 164, 252);
    position: relative;
    border-top-right-radius: 100% 200%;
    border-top-left-radius: 100% 200%;
    overflow: hidden;
    margin-top: 1rem;

}
.gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: orange;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge__cover{
    width: 75%;
    height: 150%;
    background: rgb(251, 252, 253);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    
    /* text_part */

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    color:rgb(251, 252, 253);

}

/* css for .right-container-todays-highlight-value */
.right-container-todays-highlight-value{
    flex: 1;
    margin-top: -20px;
    font-size: xx-large;
    font-weight:bold;
    margin-bottom: 10px;
    z-index: 1;
}

/* Css for second card --------------------*/
.unit{
    font-size: 20px;
}
.wind-status-value{
    flex: 2;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: -20px;
}
.wind-status-logo{
    flex: 1;
    align-self: self-start;
    margin-left: 30px;
    margin-bottom: 10px;

}
.wind-status-logo img{
    width: 50px;
    height: 50px;
}

/* Css for Third card ------------------- */
.sunrise-sunset-value{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.sunrise{
    flex: 1;
    display: flex;
    flex-direction: row;
    
}
.sunrise-img{
    flex: 1;
    margin-bottom: 20px;
    margin-right: 10px;

}
.sunrise-img img{
    width: 40px;
    height: 40px;

}
.sunrise-time{
    flex: 4;
    margin-top: 10px;
    font-weight: 500;
    font-size: large;
}
.sunset{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.sunset{
    flex: 1;
}
.sunset-time{
    flex: 4;
    margin-top: 10px;
    font-weight: 500;
    font-size: large;


}

.sunset-img{
    flex: 1;
    margin-bottom: 20px;
    margin-right: 10px;

}
.sunset-img img{
    width: 40px;
    height: 40px;
}    

/* css for fourth card  ---------------*/
.wind-status-value{
    align-self: self-start;
    margin-left: 20px;
    
}
.humidity-summary{
    align-self: self-start;
    margin-left: 20px;
    font-size:medium;
    font-weight: bold;
    margin-bottom: 20px;
    
}






