<div class="right-container">
    <div class="right-container-nav-bar">
        <div class="nav-bar-tabs">
            <div class="today" (click)="onTodayClick()" [className]="this.weatherService.today == true?' today today-active':'today'">Today</div>
            <div class="week"(click)="onWeekClick()" [className]="this.weatherService.week == true?' week week-active':'week'">Week</div>
            <div class="underline"[className]="this.weatherService.today == true?'underline underline-today':'underline underline-week' "></div>

        </div>
        <div class="nav-bar-matric">
            <div class="celsius"(click)="onCelsiusClick()"[className]="this.weatherService.celsius == true? 'celsius celsius-active':'celsius'">°C</div>
            <div class="fahrenheit"(click)="onFahrenheitClick()"[className]="this.weatherService.fahrenheit == true? 'fahrenheit fahrenheit-active':'fahrenheit'">°F</div>

            <div class="profile-image"><img src="assets/profile.png" alt="Profile image"></div>
        </div>
    </div>
    <div class="right-container-data-box">
        <div class="right-container-week-cards" *ngIf="this.weatherService.week">
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-10°</span></div>
            </div>

        </div> 

        <div class="right-container-today-cards"*ngIf="this.weatherService.today">
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
            <div class="card">
                <div class="card-day">12:pm</div>
                <div class="card-temp-img"><img src="assets/sun.png" alt=""></div>
                <div class="card-temp-value"> 15°</div> 
            </div>
        </div>

        <div class="right-container-todays-highlight">
            <div class="right-container-todays-highlight-title">Today's Highlight</div>
            <div class="right-container-todays-highlight-cards">
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">7</div>
                </div>

                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Wind Status</div>
                    <div class="wind-status-value">8.00 <span class="unit">Km/h</span></div>
                    <div class="wind-status-logo"><img src="assets/wind status logo.png" alt=""></div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Sunrise & Sunset</div>
                    <div class="sunrise-sunset-value">
                        <div class="sunrise">
                            <div class="sunrise-img"><img src="assets/sunrise.png" alt=""></div>
                            <div class="sunrise-time">6:00 AM</div>
                        </div>
                        <div class="sunset">
                            <div class="sunset-img"><img src="assets/sunset.png" alt=""></div>
                            <div class="sunset-time">7:30 PM</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right-container-todays-highlight-cards">
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Humidity</div>
                    <div class="wind-status-value">15 <sup class="unit">%</sup></div>
                    <div class="humidity-summary">Normal <span><fa-icon class ="fa" [icon]="faThumbsUp" style="color:rgb(40, 153, 252);"></fa-icon></span></div> 
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card">
                        <div class="right-container-todays-highlight-card-title">Visibility</div>
                        <div class="wind-status-value">4.5 <span class="unit">Km</span></div>
                        <div class="humidity-summary">Average <span><fa-icon class ="fa" [icon]="faFaceFrown"style="color:rgb(40, 153, 252);"></fa-icon></span></div> 
                    </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card">
                        <div class="right-container-todays-highlight-card-title">Air Quality</div>
                        <div class="wind-status-value">95</div>
                        <div class="humidity-summary">Unhealthy <span><fa-icon class ="fa" [icon]="faThumbsDown"style="color:rgb(40, 153, 252);"></fa-icon></span></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




